<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <springProperty scope="context" name="systemName" source="mgp.system.name"/>
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="localhost.log"/>
    <springProperty scope="context" name="version" source="info.version"/>
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>host:port</destination>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <root level="INFO">
        <appender-ref ref="LOGSTASH" />
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="org.zalando.logbook">
        <level value="TRACE" />
    </logger>
</configuration>